<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.cartype.mapper.CarTypeMapper" >

  <sql id="Base_Column_List" >
    t.id,
    t.create_by AS "createBy.id",
    t.create_date,
    t.update_by AS "updateBy.id",
    t.update_date,
    t.del_flag,
    t.type_name,
    t.type_no,
    t.train_id AS "carTrain.id",
    t.remarks,
    t.img
  </sql>


</mapper>